.djw-warp {
  width: 1920px;
  height: 1080px;
  position: relative;
  margin: {
    top:10px;
  };
  background: #CCCCCC;
  zoom:0.6;
  //@include transform(scale(0.5));
  //@include transform-origin(0,0);  //定义缩放中心
}
.djw-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.djw-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.djw-left {
  width: 900px;
  position: absolute;
  top:60px;
  left: 80px;
}
.djw-l-title {
  margin: {
    top:60px;
    bottom: 60px;
  };
}
.djw-l-video {
  width: 900px;
  height: 506px;
  vertical-align: middle;
  @include display-box;
  @include box-align(center);
  @include box-pack(center);
  background: #E4E4E4;
  font-size: 60px;

  .cssload-container {
    display: block;
  }
  .glyphicon-play {
    display: none;
  }
  .djw-lv-info {
    display: none;
  }
  .vip-info {
    display: none;
  }
  &.djw-l-loading {
    .cssload-container {
      display: none;
    }
    .glyphicon-play {
      display: inline-block;
    }
  }
  &.djw-l-loading.vip-in {
    .cssload-container {
      display: none;
    }
    .glyphicon-play {
      display: none;
    }
    .vip-info {
      display: inline-block;
    }
  }

  //焦点在上面时
  &.focusBtn.on {
    background: rgba(0,0,0,0.2);
    .glyphicon-play {
      display: none;
    }
    .djw-lv-info {
      display: inline-block;
    }
  }
  &.focusBtn.on.vip-in {
    .cssload-container {
      display: none;
    }
    .glyphicon-play {
      display: none;
    }
    .djw-lv-info {
      display: none;
    }
    .vip-info {
      display: inline-block;
    }
  }
}
.djw-l-info {
  margin: {
    top:60px;
  };
}
.djw-right {
  width: 620px;
  height: 1080px;
  overflow: hidden;
  //overflow-y: auto;
  position: absolute;
  right: 100px;
  top: 0;
}
.djw-r-box {
  position: absolute;
  top:0;
  right: 0;
  @include transition(top .2s);
}
.djw-li {
  width: 620px;
  height: 190px;
  position: relative;
  padding: 10px;
  margin: {
    top:30px;
  };
  background:#E4E4E4;
  &.focusBtn.on {
    background: rgba(0,0,0,0.2);
  }
  .glyphicon-play {
    display: none;
  }
  .play {
    display: inline-block;
  }
}
.djw-r-img {
  width: 266px;
  height: 150px;
  position: relative;
  display: inline-block;
  @include display-box;
  @include box-align(center);
  @include box-pack(center);
  vertical-align: top;
  float: left;
  margin: 10px;
  background: #AEAEAE;
}
.vip-icon {
  display: none;
  position: absolute;
  top: 6px;
  left: 6px;
  &.vip-in {
    display: inline-block;
  }
  &.vip-out {
    display: none;
  }
}
.djw-r-time {
  position: absolute;
  font-size:24px;
  color:#333333;
  right:10px;
  bottom:10px;
}
.djw-r-info {
  width: 300px;
  display: inline-block;
  float:left;
  vertical-align: top;
  margin: {
    top:10px;
  };
  font-size:30px;
  color:#6B6B6B;
}
.djw-fs {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top:0;
  left: 0;
  @include display-box;
  @include box-align(center);
  @include box-pack(center);
  background: #E4E4E4;
}