.main-panel {
  position: relative;
  display: block;
  cursor: pointer;
  color:whitesmoke;
  background:rgba(0,0,0, 0.3);
  @include border-radius(4px);
}
.main-panel.focusBtn.on {
  background: rgba(0,0,0, 0.6);
}