<div class="djw-warp">
    <!--视图切换容器-->
    <div class="djw-view" ui-view="fs" ng-class="{true:'home',false:'other'}[viewAnimate]">
        <!--操作面板-->
        <div class="djw-panel">
            <div class="djw-left">
                <div class="djw-l-title">
                    <p style="font-size: 48px;color: #999999;">湖南卫视跨年演唱会</p>
                </div>
                <div class="djw-l-video focusBtn text-center ott-radius" ng-click="bigVideo(vipbool)" ng-class="{true:'vip-in',false:'vip-out'}[vipbool]">
                    <div class="cssload-container">
                        <div class="cssload-zenith"></div>
                    </div>
                    <span class="glyphicon glyphicon-play"></span>
                    <span class="djw-lv-info">按"OK键/确认键"全屏播放</span>
                    <span class="vip-info">此为付费节目，按"OK键/确认键"进行支付操作</span>

                </div>
                <div class="djw-l-info text-center">
                    <p style="font-size: 40px;color: #999999;">张靓颖现场SHOW-终于等到你</p>
                </div>
            </div>
            <div class="djw-right">
                <div class="djw-r-box">
                    <div class="djw-li focusBtn ott-radius" ng-repeat="djwli in djwNums track by $index" ng-click="djwLi(djwli)">
                        <div class="djw-r-img ott-radius">
                            <span ng-class="{true:'vip-in',false:'vip-out'}[djwli]" class="vip-icon">vip</span>
                            <span class="glyphicon glyphicon-play"></span>
                            <span class="djw-r-time">00:30:30</span>
                        </div>
                        <div class="djw-r-info">
                            <p>张靓颖现场show-终于等到你</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>